docker-compose : time="2026-01-06T16:45:57+07:00" level=warning msg="E:\\Vibe\\Catering Management\\docker-compose.yml: the attribute `version` is 
obsolete, it will be ignored, please remove it to avoid potential confusion"
At E:\Vibe\Catering Management\update.ps1:32 char:5
+     docker-compose exec -T db pg_dump -U postgres catering_db > $back ...
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (time="2026-01-0...tial confusion":String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
--
-- PostgreSQL database dump
--

\restrict hIXbAEMuNvFSOnocXuTpcsBIrLEqhYBMTejfSHNo9YaoJIeja8yogRJhCLRDgLf

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: AnnouncementType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AnnouncementType" AS ENUM (
    'ANNOUNCEMENT',
    'AGREEMENT'
);


ALTER TYPE public."AnnouncementType" OWNER TO postgres;

--
-- Name: AuditAction; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AuditAction" AS ENUM (
    'LOGIN',
    'LOGOUT',
    'LOGIN_FAILED',
    'PASSWORD_CHANGE',
    'CREATE',
    'UPDATE',
    'DELETE',
    'ORDER_CREATED',
    'ORDER_CANCELLED',
    'ORDER_CHECKIN',
    'ORDER_NOSHOW',
    'USER_BLACKLISTED',
    'USER_UNBLOCKED',
    'STRIKES_RESET',
    'SETTINGS_UPDATE',
    'NTP_SYNC',
    'IMPORT_DATA',
    'EXPORT_DATA',
    'VIEW',
    'SEARCH',
    'OTHER'
);


ALTER TYPE public."AuditAction" OWNER TO postgres;

--
-- Name: BackupStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."BackupStatus" AS ENUM (
    'IN_PROGRESS',
    'COMPLETED',
    'FAILED'
);


ALTER TYPE public."BackupStatus" OWNER TO postgres;

--
-- Name: MenuMode; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."MenuMode" AS ENUM (
    'SAME_ALL_SHIFTS',
    'DIFFERENT_PER_SHIFT'
);


ALTER TYPE public."MenuMode" OWNER TO postgres;

--
-- Name: MessageType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."MessageType" AS ENUM (
    'COMPLAINT',
    'CANCELLATION'
);


ALTER TYPE public."MessageType" OWNER TO postgres;

--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'ORDERED',
    'PICKED_UP',
    'NO_SHOW',
    'CANCELLED'
);


ALTER TYPE public."OrderStatus" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'USER',
    'ADMIN',
    'CANTEEN',
    'VENDOR'
);


ALTER TYPE public."Role" OWNER TO postgres;

--
-- Name: UptimeEventType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UptimeEventType" AS ENUM (
    'STARTUP',
    'SHUTDOWN'
);


ALTER TYPE public."UptimeEventType" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Announcement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Announcement" (
    id text NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    priority text DEFAULT 'normal'::text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "expiresAt" timestamp(3) without time zone,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    type public."AnnouncementType" DEFAULT 'ANNOUNCEMENT'::public."AnnouncementType" NOT NULL
);


ALTER TABLE public."Announcement" OWNER TO postgres;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    "timestamp" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userId" text,
    "userName" text,
    "userRole" text,
    action public."AuditAction" NOT NULL,
    entity text NOT NULL,
    "entityId" text,
    "entityName" text,
    "oldValue" jsonb,
    "newValue" jsonb,
    changes jsonb,
    "ipAddress" text,
    "userAgent" text,
    "requestPath" text,
    "requestMethod" text,
    metadata jsonb,
    description text,
    success boolean DEFAULT true NOT NULL,
    "errorMessage" text
);


ALTER TABLE public."AuditLog" OWNER TO postgres;

--
-- Name: Backup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Backup" (
    id text NOT NULL,
    filename text NOT NULL,
    size integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdById" text,
    notes text,
    status public."BackupStatus" DEFAULT 'COMPLETED'::public."BackupStatus" NOT NULL
);


ALTER TABLE public."Backup" OWNER TO postgres;

--
-- Name: Blacklist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Blacklist" (
    id text NOT NULL,
    "userId" text NOT NULL,
    reason text NOT NULL,
    "startDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "endDate" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Blacklist" OWNER TO postgres;

--
-- Name: Canteen; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Canteen" (
    id text NOT NULL,
    name text NOT NULL,
    location text,
    capacity integer,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Canteen" OWNER TO postgres;

--
-- Name: CanteenShift; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CanteenShift" (
    id text NOT NULL,
    "canteenId" text NOT NULL,
    "shiftId" text NOT NULL,
    capacity integer,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CanteenShift" OWNER TO postgres;

--
-- Name: Company; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Company" (
    id text NOT NULL,
    name text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Company" OWNER TO postgres;

--
-- Name: Department; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Department" (
    id text NOT NULL,
    name text NOT NULL,
    "divisionId" text NOT NULL,
    "defaultShiftId" text,
    "workDays" text DEFAULT '1,2,3,4,5'::text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Department" OWNER TO postgres;

--
-- Name: DepartmentShift; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DepartmentShift" (
    id text NOT NULL,
    "departmentId" text NOT NULL,
    "shiftId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."DepartmentShift" OWNER TO postgres;

--
-- Name: Division; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Division" (
    id text NOT NULL,
    name text NOT NULL,
    "companyId" text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Division" OWNER TO postgres;

--
-- Name: Holiday; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Holiday" (
    id text NOT NULL,
    date date NOT NULL,
    name text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "shiftId" text
);


ALTER TABLE public."Holiday" OWNER TO postgres;

--
-- Name: MenuItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MenuItem" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "imageUrl" text,
    category text,
    "vendorId" text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."MenuItem" OWNER TO postgres;

--
-- Name: Message; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Message" (
    id text NOT NULL,
    "orderId" text,
    "shiftId" text NOT NULL,
    "userId" text NOT NULL,
    type public."MessageType" NOT NULL,
    content text NOT NULL,
    "orderDate" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Message" OWNER TO postgres;

--
-- Name: Order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Order" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "shiftId" text NOT NULL,
    "orderDate" timestamp(3) without time zone NOT NULL,
    "orderTime" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status public."OrderStatus" DEFAULT 'ORDERED'::public."OrderStatus" NOT NULL,
    "qrCode" text NOT NULL,
    "checkInTime" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "cancelReason" text,
    "cancelledBy" text,
    "cancelledById" text,
    "checkedInBy" text,
    "checkedInById" text,
    "checkinPhoto" text,
    "mealPrice" numeric(12,2),
    "canteenId" text
);


ALTER TABLE public."Order" OWNER TO postgres;

--
-- Name: ServerUptimeLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ServerUptimeLog" (
    id text NOT NULL,
    "eventType" public."UptimeEventType" NOT NULL,
    "timestamp" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "processId" text,
    hostname text,
    notes text
);


ALTER TABLE public."ServerUptimeLog" OWNER TO postgres;

--
-- Name: Settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Settings" (
    id text DEFAULT 'default'::text NOT NULL,
    "cutoffHours" integer DEFAULT 6 NOT NULL,
    "blacklistStrikes" integer DEFAULT 3 NOT NULL,
    "blacklistDuration" integer DEFAULT 7 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "ntpEnabled" boolean DEFAULT true NOT NULL,
    "ntpServer" text DEFAULT 'pool.ntp.org'::text NOT NULL,
    "ntpTimezone" text DEFAULT 'Asia/Jakarta'::text NOT NULL,
    "ntpSyncInterval" integer DEFAULT 3600 NOT NULL,
    "ntpLastSync" timestamp(3) without time zone,
    "ntpOffset" integer DEFAULT 0 NOT NULL,
    "emailEnabled" boolean DEFAULT false NOT NULL,
    "smtpHost" text,
    "smtpPort" integer DEFAULT 587 NOT NULL,
    "smtpSecure" boolean DEFAULT false NOT NULL,
    "smtpUser" text,
    "smtpPass" text,
    "smtpFrom" text,
    "adminEmail" text,
    "checkinPhotoEnabled" boolean DEFAULT false NOT NULL,
    "maxOrderDaysAhead" integer DEFAULT 7 NOT NULL,
    "autoBackupEnabled" boolean DEFAULT false NOT NULL,
    "autoBackupInterval" integer DEFAULT 7 NOT NULL,
    "lastAutoBackup" timestamp(3) without time zone,
    "cutoffDays" integer DEFAULT 0 NOT NULL,
    "cutoffMode" text DEFAULT 'per-shift'::text NOT NULL,
    "weeklyCutoffDay" integer DEFAULT 5 NOT NULL,
    "weeklyCutoffHour" integer DEFAULT 17 NOT NULL,
    "weeklyCutoffMinute" integer DEFAULT 0 NOT NULL,
    "orderableDays" text DEFAULT '1,2,3,4,5,6'::text NOT NULL,
    "maxWeeksAhead" integer DEFAULT 1 NOT NULL,
    "sundayAutoHoliday" boolean DEFAULT false NOT NULL,
    "enforceCanteenCheckin" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Settings" OWNER TO postgres;

--
-- Name: Shift; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Shift" (
    id text NOT NULL,
    name text NOT NULL,
    "startTime" text NOT NULL,
    "endTime" text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    description text,
    "mealPrice" numeric(12,2) DEFAULT 25000 NOT NULL
);


ALTER TABLE public."Shift" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    "externalId" text NOT NULL,
    name text NOT NULL,
    email text,
    password text NOT NULL,
    company text NOT NULL,
    division text NOT NULL,
    department text NOT NULL,
    role public."Role" DEFAULT 'USER'::public."Role" NOT NULL,
    "noShowCount" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "departmentId" text,
    "mustChangePassword" boolean DEFAULT true NOT NULL,
    photo text,
    nik text,
    "preferredCanteenId" text,
    "vendorId" text
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: Vendor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Vendor" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    contact text,
    "logoUrl" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Vendor" OWNER TO postgres;

--
-- Name: WeeklyMenu; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WeeklyMenu" (
    id text NOT NULL,
    "weekNumber" integer NOT NULL,
    year integer NOT NULL,
    "dayOfWeek" integer NOT NULL,
    "shiftId" text,
    "menuMode" public."MenuMode" DEFAULT 'SAME_ALL_SHIFTS'::public."MenuMode" NOT NULL,
    "menuItemId" text NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdBy" text NOT NULL
);


ALTER TABLE public."WeeklyMenu" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: Announcement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Announcement" (id, title, content, priority, "isActive", "expiresAt", "createdById", "createdAt", "updatedAt", type) FROM stdin;
f1d1aa0a-608c-441f-81e1-dc80c8045448	TEST	Harap membaca dan menyetujui ketentuan penggunaan sistem ini sebelum melanjutkan:\n\n1. Jaga kerahasiaan akun anda.\n2. Lakukan pemesanan sesuai jadwal.\n3. Laporkan jika ada kendala sistem.	high	t	\N	3ac9592d-e43e-440e-965f-fea46250d25b	2026-01-06 07:26:26.469	2026-01-06 07:26:26.469	AGREEMENT
\.


--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Backup; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Blacklist; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Blacklist" (id, "userId", reason, "startDate", "endDate", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Canteen; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Canteen" (id, name, location, capacity, "isActive", "createdAt", "updatedAt") FROM stdin;
87f63a19-2d7a-4d0c-9cba-bb42c20fd402	KANTIN RNG	RNG	\N	t	2025-12-18 14:28:58.31	2025-12-18 14:28:58.31
f5b936cd-fb06-4a5e-a287-3f73c1594d19	KANTIN GD	GD	\N	t	2025-12-18 14:40:32.029	2025-12-18 14:40:32.029
KANTIN ICT	KANTIN ICT	Auto-created from user import	\N	f	2025-12-22 01:47:14.165	2025-12-22 04:32:14.532
\.


--
-- Data for Name: CanteenShift; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CanteenShift" (id, "canteenId", "shiftId", capacity, "isActive", "createdAt") FROM stdin;
\.


--
-- Data for Name: Company; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Company" (id, name, "isActive", "createdAt", "updatedAt") FROM stdin;
ab51b1f9-93bd-40c9-bed1-697ab63bd8b4	SJA	t	2026-01-06 06:25:51.125	2026-01-06 06:25:51.125
\.


--
-- Data for Name: Department; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: DepartmentShift; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Division; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Division" (id, name, "companyId", "isActive", "createdAt", "updatedAt") FROM stdin;
57012bba-b8a0-4463-90b7-6f808adaf3e7	ICT	ab51b1f9-93bd-40c9-bed1-697ab63bd8b4	t	2026-01-06 06:25:51.133	2026-01-06 06:25:51.133
887ffcc1-3b2f-488a-9f35-b3821f5928b5	PRODUKSI 1	ab51b1f9-93bd-40c9-bed1-697ab63bd8b4	t	2026-01-06 06:25:51.143	2026-01-06 06:25:51.143
4bbad2f7-45a9-4473-8a38-dd6e254c19ef	PRODUKSI 2	ab51b1f9-93bd-40c9-bed1-697ab63bd8b4	t	2026-01-06 06:25:51.16	2026-01-06 06:25:51.16
\.


--
-- Data for Name: Holiday; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Holiday" (id, date, name, description, "isActive", "createdAt", "updatedAt", "shiftId") FROM stdin;
\.


--
-- Data for Name: MenuItem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."MenuItem" (id, name, description, "imageUrl", category, "vendorId", "isActive", "createdAt", "updatedAt") FROM stdin;
35043cfd-2389-488c-9755-82142e2da7db	Ayam Geprek	\N	/uploads/menus/menu-1767680181001.webp	Nasi	b38aecb2-3ddc-4f1e-b848-3d9e388adc04	t	2026-01-06 06:16:21.046	2026-01-06 06:16:21.046
7c50ccd8-7668-4623-986a-b02b91ad9f9c	Nasi Goreng Spesial		/uploads/menus/menu-1767680129076.webp	Nasi	c0cf640a-73dd-4bbb-b6dc-5fd4b1276d2e	t	2026-01-06 06:15:29.129	2026-01-06 07:41:21.576
\.


--
-- Data for Name: Message; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Order; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ServerUptimeLog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Settings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Shift; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Vendor; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Vendor" (id, name, description, contact, "logoUrl", "isActive", "createdAt", "updatedAt") FROM stdin;
b38aecb2-3ddc-4f1e-b848-3d9e388adc04	KATERING JAYA ABADI			/uploads/vendors/vendor-1766444132407.webp	t	2025-12-22 22:55:33.087	2025-12-22 22:55:55.817
c0cf640a-73dd-4bbb-b6dc-5fd4b1276d2e	KATERING JAYA JAYA	\N	\N	\N	t	2026-01-06 07:38:56.789	2026-01-06 07:38:56.789
\.


--
-- Data for Name: WeeklyMenu; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Announcement Announcement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Announcement"
    ADD CONSTRAINT "Announcement_pkey" PRIMARY KEY (id);


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: Backup Backup_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Backup"
    ADD CONSTRAINT "Backup_pkey" PRIMARY KEY (id);


--
-- Name: Blacklist Blacklist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Blacklist"
    ADD CONSTRAINT "Blacklist_pkey" PRIMARY KEY (id);


--
-- Name: CanteenShift CanteenShift_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CanteenShift"
    ADD CONSTRAINT "CanteenShift_pkey" PRIMARY KEY (id);


--
-- Name: Canteen Canteen_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Canteen"
    ADD CONSTRAINT "Canteen_pkey" PRIMARY KEY (id);


--
-- Name: Company Company_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Company"
    ADD CONSTRAINT "Company_pkey" PRIMARY KEY (id);


--
-- Name: DepartmentShift DepartmentShift_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DepartmentShift"
    ADD CONSTRAINT "DepartmentShift_pkey" PRIMARY KEY (id);


--
-- Name: Department Department_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Department"
    ADD CONSTRAINT "Department_pkey" PRIMARY KEY (id);


--
-- Name: Division Division_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Division"
    ADD CONSTRAINT "Division_pkey" PRIMARY KEY (id);


--
-- Name: Holiday Holiday_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Holiday"
    ADD CONSTRAINT "Holiday_pkey" PRIMARY KEY (id);


--
-- Name: MenuItem MenuItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MenuItem"
    ADD CONSTRAINT "MenuItem_pkey" PRIMARY KEY (id);


--
-- Name: Message Message_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_pkey" PRIMARY KEY (id);


--
-- Name: Order Order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_pkey" PRIMARY KEY (id);


--
-- Name: ServerUptimeLog ServerUptimeLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ServerUptimeLog"
    ADD CONSTRAINT "ServerUptimeLog_pkey" PRIMARY KEY (id);


--
-- Name: Settings Settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Settings"
    ADD CONSTRAINT "Settings_pkey" PRIMARY KEY (id);


--
-- Name: Shift Shift_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Shift"
    ADD CONSTRAINT "Shift_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Vendor Vendor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Vendor"
    ADD CONSTRAINT "Vendor_pkey" PRIMARY KEY (id);


--
-- Name: WeeklyMenu WeeklyMenu_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WeeklyMenu"
    ADD CONSTRAINT "WeeklyMenu_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Announcement_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Announcement_createdAt_idx" ON public."Announcement" USING btree ("createdAt");


--
-- Name: Announcement_expiresAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Announcement_expiresAt_idx" ON public."Announcement" USING btree ("expiresAt");


--
-- Name: Announcement_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Announcement_isActive_idx" ON public."Announcement" USING btree ("isActive");


--
-- Name: AuditLog_action_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_action_idx" ON public."AuditLog" USING btree (action);


--
-- Name: AuditLog_entityId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_entityId_idx" ON public."AuditLog" USING btree ("entityId");


--
-- Name: AuditLog_entity_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_entity_idx" ON public."AuditLog" USING btree (entity);


--
-- Name: AuditLog_success_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_success_idx" ON public."AuditLog" USING btree (success);


--
-- Name: AuditLog_timestamp_entity_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_timestamp_entity_idx" ON public."AuditLog" USING btree ("timestamp", entity);


--
-- Name: AuditLog_timestamp_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_timestamp_idx" ON public."AuditLog" USING btree ("timestamp");


--
-- Name: AuditLog_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_userId_idx" ON public."AuditLog" USING btree ("userId");


--
-- Name: Backup_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Backup_createdAt_idx" ON public."Backup" USING btree ("createdAt");


--
-- Name: Backup_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Backup_status_idx" ON public."Backup" USING btree (status);


--
-- Name: Blacklist_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Blacklist_isActive_idx" ON public."Blacklist" USING btree ("isActive");


--
-- Name: Blacklist_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Blacklist_userId_idx" ON public."Blacklist" USING btree ("userId");


--
-- Name: Blacklist_userId_isActive_endDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Blacklist_userId_isActive_endDate_idx" ON public."Blacklist" USING btree ("userId", "isActive", "endDate");


--
-- Name: CanteenShift_canteenId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CanteenShift_canteenId_idx" ON public."CanteenShift" USING btree ("canteenId");


--
-- Name: CanteenShift_canteenId_shiftId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CanteenShift_canteenId_shiftId_key" ON public."CanteenShift" USING btree ("canteenId", "shiftId");


--
-- Name: CanteenShift_shiftId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CanteenShift_shiftId_idx" ON public."CanteenShift" USING btree ("shiftId");


--
-- Name: Canteen_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Canteen_isActive_idx" ON public."Canteen" USING btree ("isActive");


--
-- Name: Canteen_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Canteen_name_idx" ON public."Canteen" USING btree (name);


--
-- Name: Canteen_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Canteen_name_key" ON public."Canteen" USING btree (name);


--
-- Name: Company_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Company_name_idx" ON public."Company" USING btree (name);


--
-- Name: Company_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Company_name_key" ON public."Company" USING btree (name);


--
-- Name: DepartmentShift_departmentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DepartmentShift_departmentId_idx" ON public."DepartmentShift" USING btree ("departmentId");


--
-- Name: DepartmentShift_departmentId_shiftId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "DepartmentShift_departmentId_shiftId_key" ON public."DepartmentShift" USING btree ("departmentId", "shiftId");


--
-- Name: DepartmentShift_shiftId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DepartmentShift_shiftId_idx" ON public."DepartmentShift" USING btree ("shiftId");


--
-- Name: Department_divisionId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Department_divisionId_idx" ON public."Department" USING btree ("divisionId");


--
-- Name: Department_divisionId_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Department_divisionId_name_key" ON public."Department" USING btree ("divisionId", name);


--
-- Name: Division_companyId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Division_companyId_idx" ON public."Division" USING btree ("companyId");


--
-- Name: Division_companyId_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Division_companyId_name_key" ON public."Division" USING btree ("companyId", name);


--
-- Name: Holiday_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Holiday_date_idx" ON public."Holiday" USING btree (date);


--
-- Name: Holiday_date_shiftId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Holiday_date_shiftId_key" ON public."Holiday" USING btree (date, "shiftId");


--
-- Name: Holiday_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Holiday_isActive_idx" ON public."Holiday" USING btree ("isActive");


--
-- Name: Holiday_shiftId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Holiday_shiftId_idx" ON public."Holiday" USING btree ("shiftId");


--
-- Name: MenuItem_category_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MenuItem_category_idx" ON public."MenuItem" USING btree (category);


--
-- Name: MenuItem_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MenuItem_isActive_idx" ON public."MenuItem" USING btree ("isActive");


--
-- Name: MenuItem_vendorId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MenuItem_vendorId_idx" ON public."MenuItem" USING btree ("vendorId");


--
-- Name: Message_orderDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Message_orderDate_idx" ON public."Message" USING btree ("orderDate");


--
-- Name: Message_orderId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Message_orderId_idx" ON public."Message" USING btree ("orderId");


--
-- Name: Message_shiftId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Message_shiftId_idx" ON public."Message" USING btree ("shiftId");


--
-- Name: Message_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Message_type_idx" ON public."Message" USING btree (type);


--
-- Name: Message_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Message_userId_idx" ON public."Message" USING btree ("userId");


--
-- Name: Order_canteenId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Order_canteenId_idx" ON public."Order" USING btree ("canteenId");


--
-- Name: Order_canteenId_orderDate_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Order_canteenId_orderDate_status_idx" ON public."Order" USING btree ("canteenId", "orderDate", status);


--
-- Name: Order_checkedInById_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Order_checkedInById_idx" ON public."Order" USING btree ("checkedInById");


--
-- Name: Order_orderDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Order_orderDate_idx" ON public."Order" USING btree ("orderDate");


--
-- Name: Order_orderDate_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Order_orderDate_status_idx" ON public."Order" USING btree ("orderDate", status);


--
-- Name: Order_qrCode_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Order_qrCode_idx" ON public."Order" USING btree ("qrCode");


--
-- Name: Order_qrCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Order_qrCode_key" ON public."Order" USING btree ("qrCode");


--
-- Name: Order_shiftId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Order_shiftId_idx" ON public."Order" USING btree ("shiftId");


--
-- Name: Order_shiftId_orderDate_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Order_shiftId_orderDate_status_idx" ON public."Order" USING btree ("shiftId", "orderDate", status);


--
-- Name: Order_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Order_status_idx" ON public."Order" USING btree (status);


--
-- Name: Order_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Order_userId_idx" ON public."Order" USING btree ("userId");


--
-- Name: Order_userId_orderDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Order_userId_orderDate_idx" ON public."Order" USING btree ("userId", "orderDate");


--
-- Name: ServerUptimeLog_eventType_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ServerUptimeLog_eventType_idx" ON public."ServerUptimeLog" USING btree ("eventType");


--
-- Name: ServerUptimeLog_timestamp_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ServerUptimeLog_timestamp_idx" ON public."ServerUptimeLog" USING btree ("timestamp");


--
-- Name: Shift_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Shift_name_key" ON public."Shift" USING btree (name);


--
-- Name: User_company_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_company_idx" ON public."User" USING btree (company);


--
-- Name: User_departmentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_departmentId_idx" ON public."User" USING btree ("departmentId");


--
-- Name: User_externalId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_externalId_idx" ON public."User" USING btree ("externalId");


--
-- Name: User_externalId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_externalId_key" ON public."User" USING btree ("externalId");


--
-- Name: User_isActive_role_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_isActive_role_idx" ON public."User" USING btree ("isActive", role);


--
-- Name: User_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_name_idx" ON public."User" USING btree (name);


--
-- Name: User_nik_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_nik_idx" ON public."User" USING btree (nik);


--
-- Name: User_nik_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_nik_key" ON public."User" USING btree (nik);


--
-- Name: User_preferredCanteenId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_preferredCanteenId_idx" ON public."User" USING btree ("preferredCanteenId");


--
-- Name: Vendor_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Vendor_isActive_idx" ON public."Vendor" USING btree ("isActive");


--
-- Name: Vendor_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Vendor_name_idx" ON public."Vendor" USING btree (name);


--
-- Name: Vendor_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Vendor_name_key" ON public."Vendor" USING btree (name);


--
-- Name: WeeklyMenu_menuItemId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "WeeklyMenu_menuItemId_idx" ON public."WeeklyMenu" USING btree ("menuItemId");


--
-- Name: WeeklyMenu_shiftId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "WeeklyMenu_shiftId_idx" ON public."WeeklyMenu" USING btree ("shiftId");


--
-- Name: WeeklyMenu_weekNumber_year_dayOfWeek_shiftId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "WeeklyMenu_weekNumber_year_dayOfWeek_shiftId_key" ON public."WeeklyMenu" USING btree ("weekNumber", year, "dayOfWeek", "shiftId");


--
-- Name: WeeklyMenu_weekNumber_year_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "WeeklyMenu_weekNumber_year_idx" ON public."WeeklyMenu" USING btree ("weekNumber", year);


--
-- Name: Announcement Announcement_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Announcement"
    ADD CONSTRAINT "Announcement_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Backup Backup_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Backup"
    ADD CONSTRAINT "Backup_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Blacklist Blacklist_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Blacklist"
    ADD CONSTRAINT "Blacklist_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CanteenShift CanteenShift_canteenId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CanteenShift"
    ADD CONSTRAINT "CanteenShift_canteenId_fkey" FOREIGN KEY ("canteenId") REFERENCES public."Canteen"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CanteenShift CanteenShift_shiftId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CanteenShift"
    ADD CONSTRAINT "CanteenShift_shiftId_fkey" FOREIGN KEY ("shiftId") REFERENCES public."Shift"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DepartmentShift DepartmentShift_departmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DepartmentShift"
    ADD CONSTRAINT "DepartmentShift_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES public."Department"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DepartmentShift DepartmentShift_shiftId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DepartmentShift"
    ADD CONSTRAINT "DepartmentShift_shiftId_fkey" FOREIGN KEY ("shiftId") REFERENCES public."Shift"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Department Department_defaultShiftId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Department"
    ADD CONSTRAINT "Department_defaultShiftId_fkey" FOREIGN KEY ("defaultShiftId") REFERENCES public."Shift"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Department Department_divisionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Department"
    ADD CONSTRAINT "Department_divisionId_fkey" FOREIGN KEY ("divisionId") REFERENCES public."Division"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Division Division_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Division"
    ADD CONSTRAINT "Division_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Holiday Holiday_shiftId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Holiday"
    ADD CONSTRAINT "Holiday_shiftId_fkey" FOREIGN KEY ("shiftId") REFERENCES public."Shift"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: MenuItem MenuItem_vendorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MenuItem"
    ADD CONSTRAINT "MenuItem_vendorId_fkey" FOREIGN KEY ("vendorId") REFERENCES public."Vendor"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Message Message_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Message Message_shiftId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_shiftId_fkey" FOREIGN KEY ("shiftId") REFERENCES public."Shift"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Message Message_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Order Order_canteenId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_canteenId_fkey" FOREIGN KEY ("canteenId") REFERENCES public."Canteen"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Order Order_shiftId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_shiftId_fkey" FOREIGN KEY ("shiftId") REFERENCES public."Shift"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Order Order_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: User User_departmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES public."Department"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: User User_preferredCanteenId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_preferredCanteenId_fkey" FOREIGN KEY ("preferredCanteenId") REFERENCES public."Canteen"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: User User_vendorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_vendorId_fkey" FOREIGN KEY ("vendorId") REFERENCES public."Vendor"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: WeeklyMenu WeeklyMenu_menuItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WeeklyMenu"
    ADD CONSTRAINT "WeeklyMenu_menuItemId_fkey" FOREIGN KEY ("menuItemId") REFERENCES public."MenuItem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: WeeklyMenu WeeklyMenu_shiftId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WeeklyMenu"
    ADD CONSTRAINT "WeeklyMenu_shiftId_fkey" FOREIGN KEY ("shiftId") REFERENCES public."Shift"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict hIXbAEMuNvFSOnocXuTpcsBIrLEqhYBMTejfSHNo9YaoJIeja8yogRJhCLRDgLf

