
# ===========================================
# WEB PUSH NOTIFICATIONS
# ===========================================
VITE_VAPID_PUBLIC_KEY=BFC4-yfeyzdFk49ecuyzRqrWx9eEpsQT3RIILiTySSPoX9CbfXDFdG-lt41QE1usKJFhEAtZEUu8EmE_VRzn7CA

