--
-- PostgreSQL database dump
--

\restrict RUUXSDRhDcGeN7NsdYFfMgND5dpnMqjN3IMd2onWXzD21P28sP2kcMc9rkEzrOr

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: AnnouncementType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AnnouncementType" AS ENUM (
    'ANNOUNCEMENT',
    'AGREEMENT'
);


ALTER TYPE public."AnnouncementType" OWNER TO postgres;

--
-- Name: AuditAction; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AuditAction" AS ENUM (
    'LOGIN',
    'LOGOUT',
    'LOGIN_FAILED',
    'PASSWORD_CHANGE',
    'CREATE',
    'UPDATE',
    'DELETE',
    'ORDER_CREATED',
    'ORDER_CANCELLED',
    'ORDER_CHECKIN',
    'ORDER_NOSHOW',
    'USER_BLACKLISTED',
    'USER_UNBLOCKED',
    'STRIKES_RESET',
    'SETTINGS_UPDATE',
    'NTP_SYNC',
    'IMPORT_DATA',
    'EXPORT_DATA',
    'VIEW',
    'SEARCH',
    'OTHER'
);


ALTER TYPE public."AuditAction" OWNER TO postgres;

--
-- Name: BackupStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."BackupStatus" AS ENUM (
    'IN_PROGRESS',
    'COMPLETED',
    'FAILED'
);


ALTER TYPE public."BackupStatus" OWNER TO postgres;

--
-- Name: MessageType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."MessageType" AS ENUM (
    'COMPLAINT',
    'CANCELLATION'
);


ALTER TYPE public."MessageType" OWNER TO postgres;

--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'ORDERED',
    'PICKED_UP',
    'NO_SHOW',
    'CANCELLED'
);


ALTER TYPE public."OrderStatus" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'USER',
    'ADMIN',
    'CANTEEN'
);


ALTER TYPE public."Role" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Announcement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Announcement" (
    id text NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    priority text DEFAULT 'normal'::text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "expiresAt" timestamp(3) without time zone,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    type public."AnnouncementType" DEFAULT 'ANNOUNCEMENT'::public."AnnouncementType" NOT NULL
);


ALTER TABLE public."Announcement" OWNER TO postgres;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    "timestamp" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userId" text,
    "userName" text,
    "userRole" text,
    action public."AuditAction" NOT NULL,
    entity text NOT NULL,
    "entityId" text,
    "entityName" text,
    "oldValue" jsonb,
    "newValue" jsonb,
    changes jsonb,
    "ipAddress" text,
    "userAgent" text,
    "requestPath" text,
    "requestMethod" text,
    metadata jsonb,
    description text,
    success boolean DEFAULT true NOT NULL,
    "errorMessage" text
);


ALTER TABLE public."AuditLog" OWNER TO postgres;

--
-- Name: Backup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Backup" (
    id text NOT NULL,
    filename text NOT NULL,
    size integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdById" text,
    notes text,
    status public."BackupStatus" DEFAULT 'COMPLETED'::public."BackupStatus" NOT NULL
);


ALTER TABLE public."Backup" OWNER TO postgres;

--
-- Name: Blacklist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Blacklist" (
    id text NOT NULL,
    "userId" text NOT NULL,
    reason text NOT NULL,
    "startDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "endDate" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Blacklist" OWNER TO postgres;

--
-- Name: Company; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Company" (
    id text NOT NULL,
    name text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Company" OWNER TO postgres;

--
-- Name: Department; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Department" (
    id text NOT NULL,
    name text NOT NULL,
    "divisionId" text NOT NULL,
    "defaultShiftId" text,
    "workDays" text DEFAULT '1,2,3,4,5'::text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Department" OWNER TO postgres;

--
-- Name: DepartmentShift; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DepartmentShift" (
    id text NOT NULL,
    "departmentId" text NOT NULL,
    "shiftId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."DepartmentShift" OWNER TO postgres;

--
-- Name: Division; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Division" (
    id text NOT NULL,
    name text NOT NULL,
    "companyId" text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Division" OWNER TO postgres;

--
-- Name: Holiday; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Holiday" (
    id text NOT NULL,
    date date NOT NULL,
    name text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "shiftId" text
);


ALTER TABLE public."Holiday" OWNER TO postgres;

--
-- Name: Message; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Message" (
    id text NOT NULL,
    "orderId" text,
    "shiftId" text NOT NULL,
    "userId" text NOT NULL,
    type public."MessageType" NOT NULL,
    content text NOT NULL,
    "orderDate" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Message" OWNER TO postgres;

--
-- Name: Order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Order" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "shiftId" text NOT NULL,
    "orderDate" timestamp(3) without time zone NOT NULL,
    "orderTime" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status public."OrderStatus" DEFAULT 'ORDERED'::public."OrderStatus" NOT NULL,
    "qrCode" text NOT NULL,
    "checkInTime" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "cancelReason" text,
    "cancelledBy" text,
    "cancelledById" text,
    "checkedInBy" text,
    "checkedInById" text,
    "checkinPhoto" text,
    "mealPrice" numeric(12,2)
);


ALTER TABLE public."Order" OWNER TO postgres;

--
-- Name: Settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Settings" (
    id text DEFAULT 'default'::text NOT NULL,
    "cutoffHours" integer DEFAULT 6 NOT NULL,
    "blacklistStrikes" integer DEFAULT 3 NOT NULL,
    "blacklistDuration" integer DEFAULT 7 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "ntpEnabled" boolean DEFAULT true NOT NULL,
    "ntpServer" text DEFAULT 'pool.ntp.org'::text NOT NULL,
    "ntpTimezone" text DEFAULT 'Asia/Jakarta'::text NOT NULL,
    "ntpSyncInterval" integer DEFAULT 3600 NOT NULL,
    "ntpLastSync" timestamp(3) without time zone,
    "ntpOffset" integer DEFAULT 0 NOT NULL,
    "emailEnabled" boolean DEFAULT false NOT NULL,
    "smtpHost" text,
    "smtpPort" integer DEFAULT 587 NOT NULL,
    "smtpSecure" boolean DEFAULT false NOT NULL,
    "smtpUser" text,
    "smtpPass" text,
    "smtpFrom" text,
    "adminEmail" text,
    "checkinPhotoEnabled" boolean DEFAULT false NOT NULL,
    "maxOrderDaysAhead" integer DEFAULT 7 NOT NULL,
    "autoBackupEnabled" boolean DEFAULT false NOT NULL,
    "autoBackupInterval" integer DEFAULT 7 NOT NULL,
    "lastAutoBackup" timestamp(3) without time zone,
    "cutoffDays" integer DEFAULT 0 NOT NULL,
    "cutoffMode" text DEFAULT 'per-shift'::text NOT NULL,
    "weeklyCutoffDay" integer DEFAULT 5 NOT NULL,
    "weeklyCutoffHour" integer DEFAULT 17 NOT NULL,
    "weeklyCutoffMinute" integer DEFAULT 0 NOT NULL,
    "orderableDays" text DEFAULT '1,2,3,4,5,6'::text NOT NULL,
    "maxWeeksAhead" integer DEFAULT 1 NOT NULL,
    "sundayAutoHoliday" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Settings" OWNER TO postgres;

--
-- Name: Shift; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Shift" (
    id text NOT NULL,
    name text NOT NULL,
    "startTime" text NOT NULL,
    "endTime" text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    description text,
    "mealPrice" numeric(12,2) DEFAULT 25000 NOT NULL
);


ALTER TABLE public."Shift" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    "externalId" text NOT NULL,
    name text NOT NULL,
    email text,
    password text NOT NULL,
    company text NOT NULL,
    division text NOT NULL,
    department text NOT NULL,
    role public."Role" DEFAULT 'USER'::public."Role" NOT NULL,
    "noShowCount" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "departmentId" text,
    "mustChangePassword" boolean DEFAULT true NOT NULL,
    photo text,
    nik text
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: Announcement; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Backup; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Blacklist; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Blacklist" (id, "userId", reason, "startDate", "endDate", "isActive", "createdAt", "updatedAt") FROM stdin;
e34fbaf6-f9e2-4a31-8e8c-f361a6ac10c1	e128108f-1f4c-4c78-81ae-cf70dece04bb	User melakukan pelanggaran	2025-12-17 02:38:23.992	2025-12-24 09:38:26.786	t	2025-12-17 02:38:23.992	2025-12-17 02:38:23.992
\.


--
-- Data for Name: Company; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Company" (id, name, "isActive", "createdAt", "updatedAt") FROM stdin;
da10a3b7-935f-4edb-a1d6-25f7011964af	SJA	t	2025-12-16 07:37:46.247	2025-12-16 07:37:46.247
\.


--
-- Data for Name: Department; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: DepartmentShift; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Division; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Division" (id, name, "companyId", "isActive", "createdAt", "updatedAt") FROM stdin;
d522cb0d-6cae-4c7c-a526-36cc0ce0eeac	ICT	da10a3b7-935f-4edb-a1d6-25f7011964af	t	2025-12-16 08:50:04.439	2025-12-16 08:50:04.439
da5625ad-b754-4847-9245-e08eaddc9997	PRODUKSI 1	da10a3b7-935f-4edb-a1d6-25f7011964af	t	2025-12-16 08:50:09.036	2025-12-16 08:50:09.036
684fd739-77a9-4e5d-84b2-57811b4c6007	PRODUKSI 2	da10a3b7-935f-4edb-a1d6-25f7011964af	t	2025-12-16 08:50:13.676	2025-12-16 08:50:13.676
\.


--
-- Data for Name: Holiday; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Holiday" (id, date, name, description, "isActive", "createdAt", "updatedAt", "shiftId") FROM stdin;
\.


--
-- Data for Name: Message; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Order; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Settings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Shift; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Announcement Announcement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Announcement"
    ADD CONSTRAINT "Announcement_pkey" PRIMARY KEY (id);


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: Backup Backup_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Backup"
    ADD CONSTRAINT "Backup_pkey" PRIMARY KEY (id);


--
-- Name: Blacklist Blacklist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Blacklist"
    ADD CONSTRAINT "Blacklist_pkey" PRIMARY KEY (id);


--
-- Name: Company Company_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Company"
    ADD CONSTRAINT "Company_pkey" PRIMARY KEY (id);


--
-- Name: DepartmentShift DepartmentShift_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DepartmentShift"
    ADD CONSTRAINT "DepartmentShift_pkey" PRIMARY KEY (id);


--
-- Name: Department Department_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Department"
    ADD CONSTRAINT "Department_pkey" PRIMARY KEY (id);


--
-- Name: Division Division_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Division"
    ADD CONSTRAINT "Division_pkey" PRIMARY KEY (id);


--
-- Name: Holiday Holiday_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Holiday"
    ADD CONSTRAINT "Holiday_pkey" PRIMARY KEY (id);


--
-- Name: Message Message_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_pkey" PRIMARY KEY (id);


--
-- Name: Order Order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_pkey" PRIMARY KEY (id);


--
-- Name: Settings Settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Settings"
    ADD CONSTRAINT "Settings_pkey" PRIMARY KEY (id);


--
-- Name: Shift Shift_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Shift"
    ADD CONSTRAINT "Shift_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Announcement_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Announcement_createdAt_idx" ON public."Announcement" USING btree ("createdAt");


--
-- Name: Announcement_expiresAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Announcement_expiresAt_idx" ON public."Announcement" USING btree ("expiresAt");


--
-- Name: Announcement_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Announcement_isActive_idx" ON public."Announcement" USING btree ("isActive");


--
-- Name: AuditLog_action_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_action_idx" ON public."AuditLog" USING btree (action);


--
-- Name: AuditLog_entityId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_entityId_idx" ON public."AuditLog" USING btree ("entityId");


--
-- Name: AuditLog_entity_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_entity_idx" ON public."AuditLog" USING btree (entity);


--
-- Name: AuditLog_success_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_success_idx" ON public."AuditLog" USING btree (success);


--
-- Name: AuditLog_timestamp_entity_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_timestamp_entity_idx" ON public."AuditLog" USING btree ("timestamp", entity);


--
-- Name: AuditLog_timestamp_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_timestamp_idx" ON public."AuditLog" USING btree ("timestamp");


--
-- Name: AuditLog_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_userId_idx" ON public."AuditLog" USING btree ("userId");


--
-- Name: Backup_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Backup_createdAt_idx" ON public."Backup" USING btree ("createdAt");


--
-- Name: Backup_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Backup_status_idx" ON public."Backup" USING btree (status);


--
-- Name: Blacklist_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Blacklist_isActive_idx" ON public."Blacklist" USING btree ("isActive");


--
-- Name: Blacklist_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Blacklist_userId_idx" ON public."Blacklist" USING btree ("userId");


--
-- Name: Blacklist_userId_isActive_endDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Blacklist_userId_isActive_endDate_idx" ON public."Blacklist" USING btree ("userId", "isActive", "endDate");


--
-- Name: Company_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Company_name_idx" ON public."Company" USING btree (name);


--
-- Name: Company_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Company_name_key" ON public."Company" USING btree (name);


--
-- Name: DepartmentShift_departmentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DepartmentShift_departmentId_idx" ON public."DepartmentShift" USING btree ("departmentId");


--
-- Name: DepartmentShift_departmentId_shiftId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "DepartmentShift_departmentId_shiftId_key" ON public."DepartmentShift" USING btree ("departmentId", "shiftId");


--
-- Name: DepartmentShift_shiftId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DepartmentShift_shiftId_idx" ON public."DepartmentShift" USING btree ("shiftId");


--
-- Name: Department_divisionId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Department_divisionId_idx" ON public."Department" USING btree ("divisionId");


--
-- Name: Department_divisionId_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Department_divisionId_name_key" ON public."Department" USING btree ("divisionId", name);


--
-- Name: Division_companyId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Division_companyId_idx" ON public."Division" USING btree ("companyId");


--
-- Name: Division_companyId_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Division_companyId_name_key" ON public."Division" USING btree ("companyId", name);


--
-- Name: Holiday_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Holiday_date_idx" ON public."Holiday" USING btree (date);


--
-- Name: Holiday_date_shiftId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Holiday_date_shiftId_key" ON public."Holiday" USING btree (date, "shiftId");


--
-- Name: Holiday_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Holiday_isActive_idx" ON public."Holiday" USING btree ("isActive");


--
-- Name: Holiday_shiftId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Holiday_shiftId_idx" ON public."Holiday" USING btree ("shiftId");


--
-- Name: Message_orderDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Message_orderDate_idx" ON public."Message" USING btree ("orderDate");


--
-- Name: Message_orderId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Message_orderId_idx" ON public."Message" USING btree ("orderId");


--
-- Name: Message_shiftId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Message_shiftId_idx" ON public."Message" USING btree ("shiftId");


--
-- Name: Message_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Message_type_idx" ON public."Message" USING btree (type);


--
-- Name: Message_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Message_userId_idx" ON public."Message" USING btree ("userId");


--
-- Name: Order_checkedInById_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Order_checkedInById_idx" ON public."Order" USING btree ("checkedInById");


--
-- Name: Order_orderDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Order_orderDate_idx" ON public."Order" USING btree ("orderDate");


--
-- Name: Order_orderDate_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Order_orderDate_status_idx" ON public."Order" USING btree ("orderDate", status);


--
-- Name: Order_qrCode_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Order_qrCode_idx" ON public."Order" USING btree ("qrCode");


--
-- Name: Order_qrCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Order_qrCode_key" ON public."Order" USING btree ("qrCode");


--
-- Name: Order_shiftId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Order_shiftId_idx" ON public."Order" USING btree ("shiftId");


--
-- Name: Order_shiftId_orderDate_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Order_shiftId_orderDate_status_idx" ON public."Order" USING btree ("shiftId", "orderDate", status);


--
-- Name: Order_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Order_status_idx" ON public."Order" USING btree (status);


--
-- Name: Order_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Order_userId_idx" ON public."Order" USING btree ("userId");


--
-- Name: Order_userId_orderDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Order_userId_orderDate_idx" ON public."Order" USING btree ("userId", "orderDate");


--
-- Name: Shift_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Shift_name_key" ON public."Shift" USING btree (name);


--
-- Name: User_company_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_company_idx" ON public."User" USING btree (company);


--
-- Name: User_departmentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_departmentId_idx" ON public."User" USING btree ("departmentId");


--
-- Name: User_externalId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_externalId_idx" ON public."User" USING btree ("externalId");


--
-- Name: User_externalId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_externalId_key" ON public."User" USING btree ("externalId");


--
-- Name: User_isActive_role_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_isActive_role_idx" ON public."User" USING btree ("isActive", role);


--
-- Name: User_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_name_idx" ON public."User" USING btree (name);


--
-- Name: User_nik_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_nik_idx" ON public."User" USING btree (nik);


--
-- Name: User_nik_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_nik_key" ON public."User" USING btree (nik);


--
-- Name: Announcement Announcement_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Announcement"
    ADD CONSTRAINT "Announcement_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Backup Backup_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Backup"
    ADD CONSTRAINT "Backup_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Blacklist Blacklist_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Blacklist"
    ADD CONSTRAINT "Blacklist_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DepartmentShift DepartmentShift_departmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DepartmentShift"
    ADD CONSTRAINT "DepartmentShift_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES public."Department"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DepartmentShift DepartmentShift_shiftId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DepartmentShift"
    ADD CONSTRAINT "DepartmentShift_shiftId_fkey" FOREIGN KEY ("shiftId") REFERENCES public."Shift"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Department Department_defaultShiftId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Department"
    ADD CONSTRAINT "Department_defaultShiftId_fkey" FOREIGN KEY ("defaultShiftId") REFERENCES public."Shift"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Department Department_divisionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Department"
    ADD CONSTRAINT "Department_divisionId_fkey" FOREIGN KEY ("divisionId") REFERENCES public."Division"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Division Division_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Division"
    ADD CONSTRAINT "Division_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Holiday Holiday_shiftId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Holiday"
    ADD CONSTRAINT "Holiday_shiftId_fkey" FOREIGN KEY ("shiftId") REFERENCES public."Shift"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Message Message_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Message Message_shiftId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_shiftId_fkey" FOREIGN KEY ("shiftId") REFERENCES public."Shift"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Message Message_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Order Order_shiftId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_shiftId_fkey" FOREIGN KEY ("shiftId") REFERENCES public."Shift"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Order Order_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: User User_departmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES public."Department"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict RUUXSDRhDcGeN7NsdYFfMgND5dpnMqjN3IMd2onWXzD21P28sP2kcMc9rkEzrOr

